# Amostragens

## 1. Carregando importa√ß√µes e arquivos

In [1]:
import pandas as pd
import random
import numpy as np

In [2]:
dataset = pd.read_csv('census.csv')

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   final-weight    32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loos    32561 non-null  int64
 12  hour-per-week   32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [4]:
dataset.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
dataset.describe()

,age,final-weight,education-num,capital-gain,capital-loos,hour-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

## 2. Amostragem Aleat√≥ria Simples (AAS)

### Conceito:

A __AAS__ √© um m√©todo de amostragem no qual __toda unidade da popula√ß√£o tem uma probabilidade igual e conhecida de ser selecionada__ para compor a amostra.
O objetivo principal √© garantir que a amostra seja __representativa__ do todo, eliminando o __vi√©s de sele√ß√£o__ e permitindo que os resultados da amostra sejam generalizados para a popula√ß√£o.

AAS deve seguir dois princ√≠pios para ser ___simples___ e ___aleat√≥ria___:
1. __Igual Probabilidade:__ Uma popula√ß√£o com ___N___ indiv√≠duos, para uma amostra de n, dever√° contar com a mesma probabilidade de qualquer ___n___ ser escolhido para compor a amostra, representado por __$\frac{n}{N}$__.

2. __Independ√™ncia:__ A sele√ß√£o de uma unidade n√£o influencia a sele√ß√£o de nenhuma outra. A amostra √© escolhida atrav√©s de um processo puramente aleat√≥rio (como um sorteio).

### Como √© feita (Processo Te√≥rico):

1. __Identificar Popula√ß√£o:__ Determinar o conjunto completo de unidades (___N___)

2. __Criar Lista de Sele√ß√£o (Frame):__ Atribuir um r√≥tulo √∫nico (por ex: √≠ndice n√∫merico) a cada unidade da popula√ß√£o.

3. __Sortear:__ Usar um gerador de n√∫meros aleat√≥rios ou um m√©todo de sorteio f√≠sico para selecionar o n√∫mero desejado de r√≥tulos (___n___)

4. __Coletar:__ Coletar os dados apenas das unidades cujos r√≥tulos foram sorteados.

> __AAS com ou sem Reposi√ß√£o__:
> * __Sem Reposi√ß√£o:__ Uma vez sorteado, o item √© removido da popula√ß√£o, e n√£o pode ser sorteado novamente.
>   
> * __Com Resposi√ß√£o:__ O item sorteado √© 'devolvido', podendo ser sorteado novamente.

### Implementa√ß√£o:

In [6]:
df_aas = dataset.sample(n=100) ##AAS que coleta 100 unidades aleat√≥rias

In [7]:
df_aas.shape

(100, 15)

In [8]:
df_aas.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
5402,26,Local-gov,197530,Masters,14,Married-spouse-absent,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K
34,22,State-gov,311512,Some-college,10,Married-civ-spouse,Other-service,Husband,Black,Male,0,0,15,United-States,<=50K
12465,49,Private,140121,HS-grad,9,Divorced,Exec-managerial,Unmarried,White,Male,0,0,50,United-States,<=50K
14463,22,Private,164775,9th,5,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,Guatemala,<=50K
25503,48,Private,287480,Masters,14,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K

# 3. Amostragem Sistem√°tica

## Conceito:

A Amostragem Sistem√°tica √© um m√©todo de sele√ß√£o de amostras que se baseia na escolha de elementos em __intervalos regulares__ (fixos), a partir de um __ponto de partida aleat√≥rio__. √â um processo mais simples e r√°pido que a Amostragem Aleat√≥ria Simples, especialmente quando a popula√ß√£o j√° est√° organizada em uma lista.

## Como √© feita (Processo Te√≥rico):

O processo envolve tr√™s etapas principais, usando ___N___ como o tamanho da popula√ß√£o e ___n___ como o tamanho da amostra desejada:

1. __C√°lculo do Intervalo (___k___):__

    * O intervalo de sele√ß√£o √© determinado pela divis√£o: ___k___ = $\frac{N}{n}$

    * _Exemplo: Se ___N___ = 1000 e ___n___ = 100, o intervalo ___k___ √© 1000/100 = 10._
  
      
2. __Sorteio do Ponto de Partida:__

    * Um n√∫mero aleat√≥rio (S) √© sorteado dentro do intervalo 1 a k. Este ser√° o primeiro elemento da amostra.

    * _Exemplo: Se ___k___ = 10, um n√∫mero entre 1 e 10 √© sorteado. Suponha que seja ___S___ = 4._

3. Sele√ß√£o Sistem√°tica:

    * Os elementos seguintes s√£o selecionados sequencialmente, adicionando-se o intervalo ___k___ ao n√∫mero do elemento anterior.

    * _Exemplo: Se o primeiro elemento √© o 4¬∫ da lista, o pr√≥ximo ser√° o 4 + 10 = 14¬∫, depois o 14 + 10  =24¬∫, e assim por diante, at√© que se atinja o total de 100 elementos._

## Implementa√ß√£o:

In [9]:
# Utilizando Python Puro

amostras = 100
tamanho_dataset = len(dataset)
passo = tamanho_dataset // amostras

random.seed(1) # Travando o num gerado somente para obter o mesmo resultado
inicio = random.randint(0, passo - 1)

indices = list(range(inicio, tamanho_dataset, passo))

print(f"""N√∫mero de √≠ndices selecionados: {len(indices)}
√çndices selecionados: {indices}""")

N√∫mero de √≠ndices selecionados: 100
√çndices selecionados: [68, 393, 718, 1043, 1368, 1693, 2018, 2343, 2668, 2993, 3318, 3643, 3968, 4293, 4618, 4943, 5268, 5593, 5918, 6243, 6568, 6893, 7218, 7543, 7868, 8193, 8518, 8843, 9168, 9493, 9818, 10143, 10468, 10793, 11118, 11443, 11768, 12093, 12418, 12743, 13068, 13393, 13718, 14043, 14368, 14693, 15018, 15343, 15668, 15993, 16318, 16643, 16968, 17293, 17618, 17943, 18268, 18593, 18918, 19243, 19568, 19893, 20218, 20543, 20868, 21193, 21518, 21843, 22168, 22493, 22818, 23143, 23468, 23793, 24118, 24443, 24768, 25093, 25418, 25743, 26068, 26393, 26718, 27043, 27368, 27693, 28018, 28343, 28668, 28993, 29318, 29643, 29968, 30293, 30618, 30943, 31268, 31593, 31918, 32243]

In [10]:
# Utilizando Numpy

amostras = 100
tamanho_dataset = len(dataset)
passo = tamanho_dataset // amostras

random.seed(1) # Travando o num gerado somente para obter o mesmo resultado
inicio = random.randint(0, passo - 1)

indices =np.arange(inicio, len(dataset), step = passo)

print(f"""N√∫mero de √≠ndices selecionados: {len(indices)}
√çndices selecionados: {indices}""")

N√∫mero de √≠ndices selecionados: 100
√çndices selecionados: [   68   393   718  1043  1368  1693  2018  2343  2668  2993  3318  3643
  3968  4293  4618  4943  5268  5593  5918  6243  6568  6893  7218  7543
  7868  8193  8518  8843  9168  9493  9818 10143 10468 10793 11118 11443
 11768 12093 12418 12743 13068 13393 13718 14043 14368 14693 15018 15343
 15668 15993 16318 16643 16968 17293 17618 17943 18268 18593 18918 19243
 19568 19893 20218 20543 20868 21193 21518 21843 22168 22493 22818 23143
 23468 23793 24118 24443 24768 25093 25418 25743 26068 26393 26718 27043
 27368 27693 28018 28343 28668 28993 29318 29643 29968 30293 30618 30943
 31268 31593 31918 32243]

# 4. Amostragem por Grupos (Clusters)

## Conceito:

A Amostragem por Grupos √© um m√©todo em que a popula√ß√£o √© dividida em grupos naturais (conglomerados), e alguns desses grupos s√£o __selecionados aleatoriamente__ para compor a amostra.
Em vez de selecionar indiv√≠duos diretamente, selecionam-se grupos inteiros ‚Äî por exemplo, escolas, cidades, turmas, ag√™ncias banc√°rias, ou filiais de uma empresa.

Esse m√©todo √© especialmente √∫til quando a popula√ß√£o est√° __espalhada geograficamente__ ou quando √© __caro e dif√≠cil listar todos os elementos individuais__.
A principal diferen√ßa para a amostragem estratificada √© que na amostragem por grupos cada grupo √© uma miniatura da popula√ß√£o, enquanto nos estratos as divis√µes s√£o homog√™neas internamente e diferentes entre si.

## Como √© feita (Processo Te√≥rico):

1. __Identificar a Popula√ß√£o e os Grupos (Conglomerados):__
    Dividir a popula√ß√£o total ùëÅ em ùê∫ grupos distintos, denominados conglomerados.
    Cada grupo deve representar uma parte razo√°vel e heterog√™nea da popula√ß√£o total.

    _Exemplo: Em um pa√≠s com 500 escolas, cada escola √© considerada um conglomerado._

2. __Sortear os Grupos:__
    Selecionar aleatoriamente ùëî grupos dentre os ùê∫ existentes.
    Todos os grupos t√™m igual probabilidade de serem escolhidos.

    _Exemplo: Se existem 500 escolas e ser√£o escolhidas 50, cada escola tem probabilidade __50/500 = 0,1__ de ser selecionada._

3. __Coletar os Dados:__
    Ap√≥s a sele√ß√£o, todos os elementos dentro dos grupos sorteados s√£o inclu√≠dos na amostra (Amostragem por Grupos Simples).
    Em vers√µes mais avan√ßadas (Amostragem por Grupos em Dois Est√°gios), pode-se realizar uma nova amostragem dentro dos grupos escolhidos.

## Implementa√ß√£o:

In [14]:
quantidade_grupos = 10
tamanho_grupos = len(dataset) / quantidade_grupos
grupos = [] # grupos serve como uma lista de √≠ndices para o dataset
id_grupo = 0
cont = 0
for _ in dataset.iterrows():
    grupos.append(id_grupo) # atribui id_grupo a cada elemento de mesmo √≠ndice do dataset
    cont += 1
    if cont > tamanho_grupos: # quando o 1¬∫ grupo atingir o tamanho definido:
        cont = 0              # zera a contagem
        id_grupo += 1             # e cria-se o pr√≥ximo √≠ndice para o novo grupo

In [15]:
np.unique(grupos, return_counts=True) # Retorna √≠ndices dos grupos e quantidade de elementos

(array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
 array([3257, 3257, 3257, 3257, 3257, 3257, 3257, 3257, 3257, 3248]))

In [16]:
np.shape(grupos), dataset.shape # Comprovando que todo dataset foi colocado em 1 grupo

((32561,), (32561, 15))

In [17]:
dataset['grupos'] = grupos # Atribuindo os √≠ndices correspondentes em uma coluna do dataset

In [18]:
dataset.head() # nota-se que a coluna 'grupos' foi inserida no final == 0

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,grupos
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,0

In [19]:
dataset.tail() # nota-se que a coluna 'grupos' foi inserida no final == 9

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,grupos
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,9
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,9
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,9
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,9
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,9

In [20]:
grupo_selecionado = random.randint(0, 9) # Sorteia-se um n√∫m no range dos ids dos grupos criados
df_agrupamento = dataset[dataset['grupos'] == grupo_selecionado] # cria-se um df a partir do indice sorteado
df_agrupamento.shape # verifica o tamanho do grupo

(3248, 16)

In [21]:
df_agrupamento['grupos'].value_counts() # comprova o √≠ndice sorteado

grupos
9    3248
Name: count, dtype: int64